.data {
    min-height: 90vh;
}

.space-y {
    margin-top: 12px;
}

.banner .title {
    margin-top: 30px;
    margin-bottom: 15px;
}

.banner .card {
    max-width: 100%;
    width: 100%;
}

.theme_btn {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 9999;
}

.card-m {
    width: 500px;
}