@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }

    .nav-item .submenu {
        display: none;
        position: absolute;
        right: 100%;
        top: -7px;
    }

    .nav-item .submenu-left {
        right: auto;
        left: 100%;
    }

    .dropdown-menu>li:hover {
        
    }

    .dropdown-menu>li:hover>.submenu {
        display: block;
    }
}


@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
}